{% extends 'base_auth.html' %}

{% load static %}

{% block bloqueSeccionAuth %}
    {% if errores or mensaje %}
    <div id="notifi-auth" class="{% if mensaje %}realizado-notif{% else %}error-notif{% endif %}">
        <div class="div-img-auth">
            <img src="{% if mensaje %}{% static 'icons/perrogracioso.png' %}{% else %}{% static 'icons/gatomuerto.png' %}{% endif %}" alt="error" srcset="">
        </div>
        <p>{% if mensaje %}{{mensaje}}{% else %}{{errores}}{% endif %}</p> 
    </div>
    {% endif %}

    {% if user_form.as_p %}
    <div id="contenedor-register">
        <div class="div-interno-register">
            <div id="info-div-register">
                <div id="div-img-info-register">
                    <img src="{% static 'icons/medida.png' %}" alt="Perrito">
                </div>
                <div id="div-text-info-register">
                    <h3>¡Llegaste!</h3>
                    <p>Llena el formulario de registro para poder ingresar a la web!</p>
                </div>
            </div>
        </div>
        <div class="div-interno-register">
            <form action="" method="post" id="formulario-registro">
                <h2>Crea una cuenta!</h2>
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ register_form.as_p }}
                <label id="label-NIT" for="nit">NIT:<input type="number" name="nit" id="nit" placeholder="NIT" ></label>
                <label id="label-es-vet" for="es_vet"><input name="es_vet" id="es_vet" type="checkbox">Soy Veterinario</label>
                <input type="submit" value="Crear Cuenta" class="submit-auth-btn">
            </form>
        </div>
    </div>
    {% endif %}

    <div id="linea-abajo-register"></div>
{% endblock bloqueSeccionAuth %}