<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logoveti.png' %}" type="image/x-icon">
    <title>Veti!</title>
</head>
<body>
    <header>
        <div id="header_container_tittle">
            <a href="{% url 'inicio' %}" class="div-container-tittle">
                <img src="{% static 'img/logoveti.png' %}" alt="logo">
                <h1>Veti </h1>
            </a>
            {% if user %}
            <div class="div-container-tittle">
                <p>{{user}}</p>
                <img src="{% static 'icons/mascotas.png' %}" alt="" srcset="">
            </div>
            {% endif %}
        </div>
        <nav id="barra_navegacion">
            {% if user %}
                <form action="{% url 'busqueda_cita' %}" method="GET">
                    <input type="text" id="header_input_busqueda_citas" name="header_input_busqueda_citas" placeholder="Busca una cita">
                    <input type="submit" value="Buscar" id="hacer_busqueda_submit">
                </form>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
                <a href="{% url 'inicio' %}">Sobre nosotros</a>
                <a href="{% url 'citas' %}">Citas</a>
                <a href="{% url 'mascotas' %}">Mascotas</a>
                <a href="{% url 'usuarios' %}">Usuarios</a>
            {% else %}
            <div id="btns-auth-header">
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
        </nav>
    </header>

    <section id="veti_container">
        <div  id="veti_container_interno">

            {% block bloqueSeccion %}
                
            {% endblock bloqueSeccion %}

        </div>
    </section>



    <footer>
        <div class="columna_footer" id="footer_tittlediv">
            <img src="{% static 'img/logoveti.png' %}" alt="logo">
            <p>Veti</p>
        </div>
        <div class="columna_footer">
            <h4>Developed By</h4>
            <p>
                Deiber Verano - Deiberveranodev@gmail.com<br>
                Tiziano Pieroni - tizianopiero@gmail.com<br>
                Fabricio Lattante - FabricioLattante722@gmail.com<br>
            </p>
            <div>
                <a href=""><img id="github-img" src="{% static 'img/githublogo.png' %}" alt="GitHub"></a>
            </div>
    </footer>
</body>
</html>