{% extends 'base.html' %}

{% load static %}

{% block bloqueSeccion %}
    <div class="contenedor-formularios">
        <div class="contenedor-tabla-con-datos">
            <h3>Lista de certificados!</h3>
            <table class="tabla-datos-modelos">
                <thead>
                    <th>Veterinario</th>
                    <th>Fecha</th>
                    <th>Imagen</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                    {% for certificado in lista_certificados %}
                        <tr>
                            <td>{{certificado.veterinario}}</td>
                            <td>{{certificado.fecha}}</td>
                            <td>{{certificado.imagen}}</td>
                            <td>
                                <form action="{% url 'elimina_certificado' certificado.id %}" method="POST">{% csrf_token %}
                                    <button class="eliminar_registro_btn_tabla" type="submit">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>      
        </div>
        <div class="div-creacion-registro">
            <h3>Añade un Certificado!</h3>
            <form class="formulario-creacion"  enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                {{ certificados_form.as_p }}
                <input type="submit" value="Crear">
            </form>
        </div>
    </div>

{% endblock bloqueSeccion %}