{% extends 'base_sinfooter.html' %}

{% load static %}

{% block bloqueSeccion %}
<div id="contenedor-muro">
    <div id="contenedor-publicaciones" class="publicaciones-propias">
        {% for cita in citas%}    
            <div class="cita">
                <div class="info-cita">
                    <div class="info-interna-cita">
                        <h3>{{cita.especialidad}}</h3>
                        <p>{{cita.local}}</p>
                    </div>
                    
                    <div class="info-interna-cita segunda-info-cita">
                        <a href="{% url 'perfil-usuario' cita.veterinario.user_id.user_id.id %}"><h3>{{cita.veterinario}}</h3></a>
                        <p>{{cita.fecha}}</p>
                    </div>
                </div>
                
                {% if cita.asignacion %}
                    <div class="info-cita cita-asignada">
                        <div class="info-interna-cita">
                            <h3>No Disponible</h3>
                        </div>
                        <div class="info-interna-cita segunda-info-cita">
                            <h3>{{cita.asignacion.paciente}}</h3>
                            <p>{{cita.asignacion.mascota}}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="info-cita cita-por-asignar">
                        <div class="info-interna-cita">
                            <h3>Disponible</h3>
                        </div>
                        <div class="info-interna-cita segunda-info-cita">
                            <h3>NN</h3>
                        </div>
                        <a href="{% url 'asignacion_cita' cita.id %}" class="imagen-usuario-publicacion btn-eliminar-publi">
                            <button type="submit"><img src="{% static 'icons/formulariopaw.png' %}" alt="eliminar"></button>
                        </a>
                    </div>
                {% endif %}
                    
            </div>
            
        {% empty %}

            <div class="contenedor-no-hay-que-mostrar">
                <p>¡No has creado ninguna cita aun!</p>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock bloqueSeccion %}
    
