{% extends 'base.html' %}

{% load static %}

{% block bloqueSeccion %}
<div id="contenedor-inicio">
        <div id="tittle-inicio">
            <h1>Somos Veti!</h1>
        </div>
        <div id="contenedor-tarjetas-inicio">

            <div class="tarjeta-inicio" >
                <div class="div-img-tarjeta-inicio">
                    <img src="{% static 'icons/ubicacion.png' %}" alt="">
                </div>
                <div class="div-info-tarjeta-inicio">
                    <h3>Comunidad</h3>
                    <p>Adentrate en una comunidad llena de amantes de los animales</p>
                </div>
                <div class="div-info-tarjeta-inicio info2-tarjeta" >
                    <p>Encuentra veterinarios dispuestos a ayudarte con tus mascotas</p>
                </div>
            </div>

            <div class="tarjeta-inicio">
                <div class="div-img-tarjeta-inicio">
                    <img src="{% static 'icons/perrogracioso.png' %}" alt="">
                </div>
                <div class="div-info-tarjeta-inicio">
                    <h3>Facilidad</h3>
                    <p>Registrarte no te tomará más de 5 minutos.</p>
                </div>
                <div class="div-info-tarjeta-inicio info2-tarjeta" >
                    <p>Si eres veterinario puedes obtener visilibilizacion!</p>
                </div>
            </div>

            <div class="tarjeta-inicio">
                <div class="div-img-tarjeta-inicio">
                    <img src="{% static 'icons/mascotas.png' %}" alt="">
                </div>
                <div class="div-info-tarjeta-inicio">
                    <h3>Confianza</h3>
                    <p>Mira el perfil de las personas que publican!</p>
                </div>
                <div class="div-info-tarjeta-inicio info2-tarjeta" >
                    <p>Escoge tu veterinario viendo sus certificaciones en su perfil</p>
                </div>
            </div>
        </div>
        
    </div>
{% endblock bloqueSeccion %}
    
