{% extends 'base.html' %}
{% load static %}

{% block bloqueSeccion %}
<div class="contenedor-tabla-con-datos">
    <h3>Lista de Locales!</h3>
    <table class="tabla-datos-modelos">
        <thead>
            <th>Veterinario</th>
            <th>Pais</th>
            <th>Ciudad</th>
            <th>Zona</th>
            <th>Direccion</th>
            <th>Imagen</th>
            <th>Editar</th>
            <th>Eliminar</th>            
        </thead>
        <tbody>
            {% for local in lista_locales %}
                <tr>
                    <td>{{local.veterinario}}</td>
                    <td>{{local.pais}}</td>
                    <td>{{local.ciudad}}</td>
                    <td>{{local.zona}}</td>
                    <td>{{local.direccion}}</td>
                    <td>{{local.imagen}}</td>
                    <td>
                        <form action="{% url 'elimina_local' local.id %}"  method="POST">{% csrf_token %}
                            <button class="eliminar_registro_btn_tabla" type="submit">Eliminar</button>
                        </form>
                    </td>
                    <td><button class="modificar_registro_btn_tabla"><a href="{% url 'modifica_local' local.id %}">Modificar</a></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>      
</div>
<div class="div-creacion-registro">
    <h3>Añade un local!</h3>
    <form class="formulario-creacion" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {{ local_form.as_p }}
        <input type="submit" value="Crear">
    </form>
</div>









{% endblock bloqueSeccion %}