{% extends 'base.html' %}

{% load static %}

{% block bloqueSeccion %}
<div class="contenedor-formularios">
    <div class="contenedor-tabla-con-datos">
        <h3>Lista de Mascotas!</h3>
        <table class="tabla-datos-modelos">
            <thead>
                <th>Amo</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Tipo de Animal</th>
                <th>Raza</th>
                <th>Foto</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </thead>
            <tbody>
                {% for mascota in lista_mascotas %}
                    <tr>
                        <td>{{mascota.amo}}</td>
                        <td>{{mascota.nombre}}</td>
                        <td>{{mascota.edad}}</td>
                        <td>{{mascota.tipo_animal}}</td>
                        <td>{{mascota.raza}}</td>
                        <td>{{mascota.imagen}}</td>
                        <td>
                            <form action="{% url 'elimina_mascota' mascota.id %}" method="POST">{% csrf_token %}
                                <button class="eliminar_registro_btn_tabla" type="submit">Eliminar</button>
                            </form>
                        </td>
                        <td><button class="modificar_registro_btn_tabla"><a href="{% url 'modifica_mascota' mascota.id %}">Modificar</a></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>      
    </div>

    <div class="div-creacion-registro">
        <h3><img src="{% static 'img/patica-animal.png' %}" alt="">Agrega una mascota! </h3>
        <form class="formulario-creacion" enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{ mascota_form.as_p }}
            <input type="submit" value="Crear">
        </form>
    </div>
</div>
{% endblock bloqueSeccion %}
    
