{% extends 'base.html' %}

{% load static %}

{% block bloqueSeccion %}
    <div id="contenedor-muro">
        <div id="contenedor-publicaciones" class="publicaciones-propias">
            {% for publicacion in publicaciones%}
                <div class="publicacion">
                    <a href="" class="contenedor-usuario-publicacion">
                        <div class="imagen-usuario-publicacion">
                            {% if publicacion.autor.avatar %}
                                <img src="{{publicacion.autor.avatar.url}}" alt="" srcset="">
                            {% else %}
                                <img src="{% static 'icons/defaultavatar.png' %}" alt="" srcset="">
                            {% endif %}
                        </div>
                        <div class="contenedor-info-usuario-publicacion">
                            <h5>{{publicacion.autor}}</h5>
                            {% if publicacion.autor.veterinario %}
                                <p>Veterinario Veti!</p>
                            {% else %}    
                                <p>Usuario Veti</p>
                            {% endif %}
                        </div>
                        <form action="{% url 'eliminar_publicaciones' publicacion.id %}" class="imagen-usuario-publicacion btn-eliminar-publi" method="POST">{% csrf_token %}
                            <button type="submit"><img src="{% static 'icons/delete.png' %}" alt="eliminar"></button>
                        </form>
                    </a>
                    <div class="contenedor-texto-publicacion">
                        <p>{{publicacion.texto}}</p>
                    </div>
                    {% if publicacion.imagen %}
                        <div class="contenedor-imagen-publicacion">
                            <img src="{{publicacion.imagen.url}}" alt="">
                        </div>
                    {% endif %}
                </div>
                
            {% empty %}

                <div class="contenedor-no-hay-que-mostrar">
                    <p>¡No has publicado nada aun!</p>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock bloqueSeccion %}