{% extends 'base.html' %}

{% load static %}

{% block bloqueSeccion %}
    <div id="contenedor-perfil">
        <div class="contenedor-info-usuario contenedor-info-vet">
            <div class="contenedor-identidad-usuario">
                <div class="contenedor-avatar">
                    {% if usuario.avatar %}
                    <img src="{{usuario.avatar.url}}" alt="" srcset="">
                    {% else %}
                        <img src="{% static 'icons/defaultavatar.png' %}" alt="" srcset="">
                    {% endif %}
                </div>
                <figure id="btn-editar-perfil"><a href="{% url 'editar_perfil' %}"><img src="{% static 'icons/editar.png' %}" alt=""></a></figure>
                <div class="contenedor-nombre nombre-vet">
                    <h3>{{usuario}}</h3>
                    <p>{{usuario.edad}} Años</p>
                </div>
            </div>
            <div class="contenedor-bio-btns">
                <div class="bio-usuario bio-vet">
                    <p>
                        {% if usuario.biografia %}
                            {{usuario.biografia}}
                        {% else %}
                            Siendo usuario de Veti y amando mis mascotas!
                        {% endif %}
                    </p>
                </div>
                <div class="botones-perfil">
                    <button >
                        <img src="{% static 'icons/certificado.png' %}" alt="">
                        Agregar Certificado
                    </button>
                    <button >
                        <img src="{% static 'icons/clinica.png' %}" alt="">
                        Agregar Local
                    </button>
                    <a href="{% url 'mis_publicaciones' %}">
                        <img src="{% static 'icons/publicacion.png' %}" alt="">
                        Mis publicaciones
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor-pertenencias-vet">
            <div>
                <div>

                </div>
            </div>
            <div>
                <div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="div-creacion-registro"  id="crear-mascota-perfil">
        <button class="cerrar-menu-creacion-perfil" id="cerrar-cmascota"><p>Atrás</p></button>
        <h3><img src="{% static 'img/patica-animal.png' %}" alt="">Agrega una mascota!</h3>
        <form class="formulario-creacion" action="{% url 'mascotas' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ mascota_form.as_p }}
            <input type="submit" value="Crear">
        </form>
    </div>
{% endblock bloqueSeccion %}
    