{% extends 'base.html' %}

{% load static %}

{% block bloqueSeccion %}
    <div id="contenedor-perfil" class="contenedor-vet">
        <div class="contenedor-info-usuario contenedor-info-vet">
            <div class="contenedor-identidad-usuario">
                <div class="contenedor-avatar">
                    {% if usuario.avatar %}
                    <img src="{{usuario.avatar.url}}" alt="" srcset="">
                    {% else %}
                        <img src="{% static 'icons/defaultavatar.png' %}" alt="" srcset="">
                    {% endif %}
                </div>
                <div class="contenedor-nombre nombre-vet">
                    <h3>{{usuario}}</h3>
                    <p>{{usuario.edad}} Años</p>
                </div>
            </div>
            <div class="contenedor-bio-btns">
                <div class="bio-usuario bio-vet">
                    <p>
                        {% if usuario.biografia %}
                            {{usuario.biografia}}
                        {% else %}
                            Siendo usuario de Veti y amando mis mascotas!
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="contenedor-pertenencias-vet">
            <div class="contenedor-slider">
                <h2>Certificaciones</h2>
                <div class="contenedor-elementos-slider" id="contenedor-certificados">
                    {% for certificado in certificados %}
                        <div class="certificacion">
                            <div class="imagen-certificado">
                                <img src="{{certificado.imagen.url}}" alt="">
                            </div>
                            <div class="info-certificado">
                                <h5>{{certificado.nombre}}</h5>
                                <p>{{certificado.fecha}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <figure id="next-certificate" class="next-in-slider"><</figure>
                <figure id="prev-certificate" class="prev-in-slider">></figure>
            </div>
            <div class="contenedor-slider">
                <h2>Locales</h2>
                <div class="contenedor-elementos-slider"  id="contenedor-locales">
                    {% for local in locales %}
                        <div class="certificacion">
                            <div class="imagen-certificado">
                                <img src="{{local.imagen.url}}" alt="">
                            </div>
                            <div class="info-certificado">
                                <h5>{{local.pais}}--{{local.ciudad}}</h5>
                                <p>{{local.direccion}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <figure id="next-local" class="next-in-slider"><</figure>
                <figure id="prev-local" class="prev-in-slider">></figure>
            </div>
        </div>
    </div>

{% endblock bloqueSeccion %}
    