{% extends 'base.html' %}

{% load static %}

{% block bloqueSeccion %}
    <div id="contenedor-perfil">
        <div class="contenedor-info-usuario">
            <div class="contenedor-identidad-usuario">
                <div class="contenedor-avatar">
                    {% if user.avatar %}
                    <img src="{{user.avatar.url}}" alt="" srcset="">
                    {% else %}
                        <img src="{% static 'icons/defaultavatar.png' %}" alt="" srcset="">
                    {% endif %}
                </div>
                <div class="contenedor-nombre">
                    <h3>{{usuario.username}}</h3>
                    <p>{{usuario.usuario.edad}} Años</p>
                </div>
            </div>
            <div class="contenedor-bio-btns">
                <div class="bio-usuario">
                    <p>
                        {% if usuario.usuario.biografia %}
                            {{usuario.biografia}}
                        {% else %}
                            Siendo usuario de Veti y amando mis mascotas!
                        {% endif %}
                    </p>
                </div>
                <div class="botones-perfil">
                    <button id="abrir-crear-mascota-btn">
                        <img src="{% static 'icons/paw.png' %}" alt="">
                        Agregar Una Mascota
                    </button>
                </div>
            </div>
        </div>

        <div class="contenedor-mascotas-perfil">
            <div class="formateo-mascotas-perfil">
                <h2>Mascotas de Username</h2>
                <div class="contenedor-lista-mascotas">
                    
                    {% for mascota in mascotas_usuario%}
                        <div class="mascota-en-perfil">
                            <div class="contenedor-img-mascota">
                                {% if mascota.imagen%}
                                    <img src="{{mascota.imagen.url}}" alt="">
                                {% else %}
                                    <img src="{% static 'icons/mascotas.png' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="contenedor-info-mascota">
                                <h5>{{mascota.nombre}}</h5>
                                <p>{{mascota.tipo_animal}} - {{mascota.raza}}</p>
                                <p>{{mascota.edad}}</p>
                            </div>
                            <div class="botones-mascota">
                                <form action="{% url 'elimina_mascota' mascota.id %}" method="POST">{% csrf_token %}
                                    <button type="submit"><img src="{% static 'icons/gatomuerto.png' %}" alt="eliminar"></button>
                                </form>
                                <button id="abrir-editar-mascota"><a href="{% url 'modifica_mascota' mascota.id %}"><img src="{% static 'icons/formulariopaw.png' %}" alt=""></a></button>
                            </div>
                        </div>
                    {% endfor %}
                        
                </div>
            </div>
        </div>
    </div>
    <div class="div-creacion-registro"  id="crear-mascota-perfil">
        <button class="cerrar-menu-creacion-perfil" id="cerrar-cmascota"><p>Atrás</p></button>
        <h3><img src="{% static 'img/patica-animal.png' %}" alt="">Agrega una mascota!</h3>
        <form class="formulario-creacion" action="{% url 'mascotas' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ mascota_form.as_p }}
            <input type="submit" value="Crear">
        </form>
    </div>
{% endblock bloqueSeccion %}
    