{% extends 'base.html' %}

{% load static %}

{% block bloqueSeccion %}
    <div id="contenedor-sobre-nosotros">
        <h1>Quienes desarrollaron.</h1>
        <div class="contenedor-info-developer">
            <div class="img-developer">
                <img src="{% static 'img/deiberV.jpeg' %}" alt="foto de deiber">
            </div>
            <div class="info-developer">
                <h3>Deiber Verano</h3>
                <p>
                    Junior web developer, tengo 1 de experiencia año desarrollando proyectos como este con tecnologias como Php, Java, NodeJs, Css, Html y ahora estoy aprendiendo 
                    Python-Django cuyo aprendizaje dio como resultado este proyecto!. Da click en mi link adicional y ve a mi portfolio! 
                </p>
            </div>
            <div class="redes-developer">
                <a href="https://www.linkedin.com/in/deiber-verano/" target="_blank"><img src="{% static 'icons/linkedinblanco.png' %}" alt="">LinkedIn</a>
                <a href="https://github.com/DeiverV" target="_blank"><img src="{% static 'icons/githubblanco.png' %}" alt="">Github</a>
                <a href="http://deiber-verano-portfolio.herokuapp.com/" target="_blank"><img src="{% static 'icons/linkblanco.png' %}" alt="">Adicional</a>
            </div>
        </div>
        <div class="contenedor-info-developer">
            <div class="img-developer">
                <img src="{% static 'img/Fabri.jpg' %}" alt="foto de fabri">
            </div>
            <div class="info-developer">
                <h3>Fabricio Lattante</h3>
                <p>
                    Mi nombre es Fabricio Lattante, tengo 19 años y actualmente soy nuevo en el mundo de la programación. 
                    Me interesé principalmente en el lenguaje Python siendo este mi primer curso y mi primer proyecto, 
                    también estoy interesado en el aprendizaje de otros lenguajes  y me gustaría aprender desarrollo Frontend.
                </p>
            </div>
            <div class="redes-developer">
                <a href="https://www.linkedin.com/in/fabricio-lattante-a30a40249/" target="_blank"><img src="{% static 'icons/linkedinamarillo.png' %}" alt="">LinkedIn</a>
                <a href="https://github.com/FabriLat" target="_blank"><img src="{% static 'icons/githublogo.png' %}" alt="">Github</a>
                <a href="" target="_blank"><img src="{% static 'icons/linkamarillo.png' %}" alt="">Adicional</a>
            </div>
        </div>
        <div class="contenedor-info-developer">
            <div class="img-developer">
                <img src="{% static 'img/lolo.png' %}" alt="foto de tizini">
            </div>
            <div class="info-developer">
                <h3>Tiziano Pieroni</h3>
                <p>
                    Hola soy Tiziano Pieroni, tengo 19 años estoy empezado a adentrarme en el mundo de la programación, 
                    empecé con un curso de Python y este es el proyecto final, estoy interesado en aprender desarrollo Backend.
                </p>
            </div>
            <div class="redes-developer">
                <a href="https://www.linkedin.com/in/tiziano-pieroni-a0030324a/" target="_blank"><img src="{% static 'icons/linkedinblanco.png' %}" alt="">LinkedIn</a>
                <a href="https://github.com/tizini" target="_blank"><img src="{% static 'icons/githubblanco.png' %}" alt="">Github</a>
                <a href="" target="_blank"><img src="{% static 'icons/linkblanco.png' %}" alt="">Adicional</a>
            </div>
        </div>
    </div>
{% endblock bloqueSeccion %}
    