html{
    width: 100%;
    height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
}

*::-webkit-scrollbar{
    background: white;
    width: 8px;
}

*::-webkit-scrollbar-thumb{
    background: var(--color3);
    border-radius: 20px;
}


:root{
    --color1: #1f8bd1;
    --color2: #20abd9;
    --color3: #4fdadf;
    --color4: #b4edeb;
    --color5: #f4efed;
    --color6: #0b0a08
}


@font-face {
    font-family: vetitittle;
    src: url('../fonts/Ultra-Regular.ttf');
}
@font-face {
    font-family: Josefin-Bold;
    src: url('../fonts/JosefinSans-Bold.ttf');
}

@font-face {
    font-family: Josefin-Bold-Italic;
    src: url('../fonts/JosefinSans-BoldItalic.ttf');
}

@font-face {
    font-family: Josefin-Medium;
    src: url('../fonts/JosefinSans-Medium.ttf');
}

@font-face {
    font-family: Josefin-Medium-italic;
    src: url('../fonts/JosefinSans-MediumItalic.ttf');
}

@font-face {
    font-family: Josefin-Light;
    src: url('../fonts/JosefinSans-Light.ttf');
}

@font-face {
    font-family: Josefin-Light-italic;
    src: url('../fonts/JosefinSans-LightItalic.ttf');
}

h3{
    margin: 0.5em;
}

/*-------------------------------------------------------------------HEADER*/
header{
    width: 100%;
    height: 9vh;
    background-color: var(--color6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#header_container_tittle{
    width: 90%;
    height: 60%;
    margin: auto;
    font-family: vetitittle;
    display: flex;
    align-items: center;
}

#header_container_tittle h1{
    margin: 0;
    font-weight: lighter;
}

#header_container_tittle img{
    width: 5vh;
    padding: 0 2vh;
}

#barra_navegacion{
    height: 40%;
    width: 100%;
    background-color: var(--color1);
    display: flex;
    align-items: center;
}

#barra_navegacion a{
    flex: 1;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: Josefin-bold;   
    transition: .2s;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

#barra_navegacion a:hover{
    background-color: white;
    color: var(--color1);
}

#barra_navegacion a:active{
    font-family: Josefin-bold-italic;   
}

#barra_navegacion form{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Josefin-Light;
}

#header_input_busqueda_citas{
    padding: 0 1em;
    border-radius: 10px 0 0 10px;
    border: none;
    height: 1.5em;
}

#header_input_busqueda_citas:focus{
    outline: 0;
}

#hacer_busqueda_submit{
    padding: 0 1em;
    border: none;
    height: 1.5em;
    background-color: var(--color6);
    color: white;
    cursor: pointer;
    border-radius: 0 30px 30px  0;
}

/*----------------------------------------------------------------------------------------------*/

footer{
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    bottom: 0;
    background-color: var(--color6);
    color: white;
    border-bottom: var(--color1) 20px solid;
}

.columna_footer{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: Josefin-Bold;
}
#footer_tittlediv{
    align-items: center;
}

#footer_tittlediv img{
    width: 9vw;
}

#footer_tittlediv p{
    margin: 0;
    font-size: 5em;
    font-family: vetitittle;
    font-weight: bolder;
}

#github-img{
    height: 7vh;
}

#coderhouse-img{
    height: 7vh;
}

/*----------------------body*/

#veti_container{
    width: 100%;
    height: 91vh;
    background-image: url("../img/iconmonstr-cat-2-240.png");
    background-position: center;
    background-repeat: no-repeat;
}

#veti_container_interno{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.div-creacion-registro{
    width: 30%;
    background: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: white;
}

.div-creacion-registro h3{
    font-size: 2em;
    font-family: Josefin-Bold;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-creacion-registro img{
    width: 4vw;
    object-fit: contain;
}

.formulario-creacion{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Josefin-medium;
}
.formulario-creacion p{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.2em;
}

.formulario-creacion p input,select{
    padding: 0 0 0 .5em;
    height: 1.5em;
    border: 3px solid var(--color1);
    border-radius: 5px;
}

.formulario-creacion > input{
    width: 100%;
    background-color: var(--color1);
    color: white;
    font-family: Josefin-Medium-Italic;
    padding: 5px 0;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 20px;
    transition: .2s;
}

.formulario-creacion > input:hover{
    background-color: var(--color6);
}

/*---------------------------------------------------------------TABLA PARA MOSTRAR DATOS DE VISTAS*/

.contenedor-tabla-con-datos{
    box-shadow: 0 0 20px 1px var(--color1);
    border-radius: 20px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 80%;
    overflow: auto;
    background-image: url("../img/iconmonstr-cat-2-240.png");
    background-position: center;
    background-repeat: no-repeat;
}
.contenedor-tabla-con-datos h3{
    font-family: Josefin-bold;
    font-size: 1.6em;
}

.tabla-datos-modelos{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabla-datos-modelos thead{
    width: 100%;
    height: 3em;
    background-color: var(--color2);
    color: white;
}

.tabla-datos-modelos tbody{
    width: 100%;
    height: 2em;
    font-family: Josefin-medium;
}

.tabla-datos-modelos  tr{
    height: 100%;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-top: none;
}

.tabla-datos-modelos tbody tr{
    background-color: white;
}

.tabla-datos-modelos thead tr{
    font-family: Josefin-bold-Italic;
    border: none;
}

.tabla-datos-modelos tr th,td{
    flex: 1;
    text-align: center;
}

.tabla-datos-modelos button{
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    color: black;
    transition: .2s;
}

.tabla-datos-modelos button a{
    text-decoration: none;
    color: black;
    transition: .2s;
}

.modificar_registro_btn_tabla:hover{
    background-color: var(--color3);
    color: white  !important;
}

.eliminar_registro_btn_tabla:hover{
    background-color: rgb(182, 14, 14);
    color: white;
}
